* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../images/white-concrete-wall_53876-92803.jpg);
}

header {
    color: rgb(30, 20, 43);
    text-align: center;
    background-color: hsla(223, 83%, 66%, 0.23);
    padding: 3%;
}

header p {
    font-size: 1.2rem;
}

nav {
    display: flex;
    background-color: hsla(223, 91%, 54%, 0.345);
    justify-content: flex-end;
}

nav a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: black;
    color: white;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.left-side {
    width: 30%;
    padding: 0px 30px;
    border-right: 2px solid black;
    margin: 10px 0px;
}

.left-side h2 {
    margin-top: 10px;
}

ul {
    list-style: square;
    font-family: monospace;
    font-size: 1.3rem;
}

.right-side {
    width: 70%;
    padding: 0px 30px;
    margin: 10px 0px;
}

.right-side h2 {
    margin-top: 10px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 49%;
}

#first-project-img {
    width: 100%;
}

#first-project-img:hover, .project:hover {
    border: 5px solid navy;
}

#contact{
text-align: center;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 3%;
}

footer a {
    font-size: 1.25rem;
    text-decoration: underline;
    color: black;
}

footer a:hover {
    background-color: black;
    color: white;

}



@media (max-width: 992px) {

    nav,
    .content {
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        border: none;
    }

    .right-side {
        width: 100%;
    }
}

@media (max-width: 769px) {
    .project-gallery, footer {
        flex-direction: column;
        align-items: center;
        line-height: 3rem;
    }


    .project {
        width: 100%;
    }
}